.attribution {
  position: static;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-size: 0.85rem;
  color: hsla(230, 8%, 15%, 0.8);

  a {
    color: hsla(230, 8%, 15%, 0.6);
    transition: 0.2s ease;
    text-decoration: underline;
  }

  a:hover,
  a:active {
    color: hsla(230, 8%, 15%, 0.4);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1.5s;
  -webkit-animation: fade-in 1.5s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@function hslac($color, $alpha) {
  @if (type-of($color) == "color") {
    @return hsla(hue($color), saturation($color), lightness($color), $alpha);
  } @else {
    @error "You didn't pass a color object";
  }
}
