$clr-primary: hsl(150, 100%, 66%);
$clr-secondary: hsl(193, 38%, 86%);

$clr-neutral-600: hsl(217, 19%, 38%);
$clr-neutral-700: hsl(217, 19%, 24%);
$clr-neutral-800: hsl(218, 23%, 16%);

$fs-primary: 1.75rem;

$ff-primary: "Manrope", sans-serif;

$fw-regular: 800;
